# Default ignored files
/.idea/workspace.xml
/.idea/
/bin/
/.classpath
/.project
/src/Test/DiceTest.class
/src/Test/EggTest.class
/src/Test/FoodTokenTest.class
/src/Test/MainTest.class
/src/Test/BoardTest.class
/src/Test/PlayerTest.class
/src/Model/Bird.class
/src/Model/Board.class
/src/Model/Dice.class
/src/Model/Main.class
/src/Model/Player.class
/out/
/Wingspan2.iml
/Wingspan.iml
/src/Model/FoodTypes.class
/src/Model/Habitats.class
/src/Controller/Main.class
/Wingspan3.iml
/src/Test/DumbAITest.class
/src/Test/MonopolyDiceTest.class
/src/View/BoardView.class
/src/View/MainView.class
/src/View/PlayerView.class
/src/Controller/AcceptanceTestMain.class
/src/GameFramework/BoardGeneric.class
/src/GameFramework/Card.class
/src/GameFramework/GenericDice.class
/src/GameFramework/Player.class
/src/Model/DumbAI.class
/src/Model/SmartAI.class
/src/Model/WingspanPlayer.class
